:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  --primary-color: #395B64;
  --secondary-color: #A5C9CA;
  --secondary-main-color: #E7F6F2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--secondary-color);
}

* {
  margin: 0px;
  box-sizing: border-box;
}

#root {
  max-width: 100vw;
  height: auto;
}

header {
  color: #2C3E50;
  text-align: center;
  font-size: min(46px, 7vw);
}

.header-title {
  color: #edf2f8;
  text-align: center;
  font-size: min(26px, 4vw);
}

.score-main { 
  margin: 25px 0px;
  text-align: center;
  font-size: min(25px, 4.5vw);
}

.current-score {
  color: yellow;
}

.highest-score {
  color: red;
}

.grid-main {
  max-width: 95vw;
  height: auto;
  margin: auto;
  padding: 20px 0px;
  border: 5px solid var(--secondary-main-color);
  background-color: var(--primary-color);
  display: grid;
  text-align: center;
  justify-items: center;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}



.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--secondary-color);
  cursor: pointer;
  color: #fff;
  border: 5px solid var(--secondary-main-color);
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 250px;
  width: 200px;
  margin: 10px;
  position: relative;
  border-radius: 4px;
  transition: all 200ms;
  overflow: hidden;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card:hover {
  color: var(--secondary-color);
  border: 5px solid var(--secondary-color);
  border-radius: 30px;
  background-color: var(--primary-color);
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.05);
}

.card:hover p {
  color: var(--primary-color);
  font-weight: 650;
}

.card-name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: max(16px, 0.9vw);
  background-color: var(--secondary-color);
  color: var(--secondary-main-color);
  text-align: center;
  padding: 10px;
}

@media (max-width: 768px) {
  .grid-main {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }
  .card {
    width: 150px;
    height: 200px;
    cursor: text;
  }
}