:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0px;
  box-sizing: border-box;
}

#root {
  max-width: 100vw;
  height: auto;
  background-color: greenyellow;
}

header {
  
  text-align: center;
  font-size: min(46px, 7vw);
  background-color: aquamarine;
}

.score-main { 
  margin: 25px 0px;
  text-align: center;
  background-color: skyblue;
  font-size: min(25px, 4.5vw);
}

.current-score {
  color: yellow;
}

.highest-score {
  color: red;
}

.grid-main {
  background-color: blue;
  max-width: 95vw;
  height: auto;
  margin: auto;
  display: grid;
  text-align: center;
  justify-items: center;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}



.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #353535;
  cursor: pointer;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 250px;
  width: 200px;
  margin: 10px;
  position: relative;
  border-radius: 4px;
  transition: all 200ms;
  overflow: hidden;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.01);
}

.actor-name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.9);
  color: white;
  text-align: center;
  padding: 10px;
}